body{
   background-color: lightsalmon;
   }
   
  @media screeen and (min-width: 40em){
    body{
   background-color: lightsalmon;
   }
     h1{
        color: white;
        
     }
  @media screeen and (min-width: 50em){
    body{
   background-color: tomato;
   }
     h1{
        color: white;
        
     }  
   
  }
